@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-slide > div {
  margin: 0 6px;
}

.slick-list {
  margin: 0 -6px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
